.mixin-relationship-value-display {
  position: absolute;
  z-index: 1;
}
.MentalMapper .relationship-value-display {
  position: absolute;
  z-index: 1;
}
.MentalMapper .relationship-value-display__text {
  position: absolute;
  z-index: 1;
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: center;
}
.MentalMapper .relationship-value-display__delete-and-edit {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  border-radius: 6px;
  width: 80px;
  display: flex;
  flex-flow: row;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
  animation-name: MentalMapper-menu-pop-in-expand;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.MentalMapper .relationship-value-display__delete {
  cursor: pointer;
  color: #fff;
  outline: none;
  text-shadow: 0 0 2px #000;
  border: 1px solid #4c4c4c;
  padding: 0;
  box-shadow: none;
  background: #666;
  /* Old browsers */
  background: -moz-linear-gradient(top, #666 0%, #666 15%, #7f7f7f 85%, #7f7f7f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #666 0%, #666 15%, #7f7f7f 85%, #7f7f7f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7f7f7f 0%, #7f7f7f 15%, #666 85%, #666 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 6px 0 0 6px;
  width: 40px;
  height: 30px;
  padding-top: 2px;
  border: 1px solid #000;
}
.MentalMapper .relationship-value-display__delete:hover {
  background: #7E2E21;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7E2E21 0%, #7E2E21 15%, #D14A35 85%, #D14A35 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7E2E21 0%, #7E2E21 15%, #D14A35 85%, #D14A35 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #D14A35 0%, #D14A35 15%, #7E2E21 85%, #7E2E21 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-color: #7E2E21;
}
.MentalMapper .relationship-value-display__delete:active {
  background: #7E2E21;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7E2E21 0%, #7E2E21 15%, #D14A35 85%, #D14A35 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7E2E21 0%, #7E2E21 15%, #D14A35 85%, #D14A35 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #D14A35 0%, #D14A35 15%, #7E2E21 85%, #7E2E21 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: inset 0 0 12px 2px rgba(0, 0, 0, 0.4);
}
.MentalMapper .relationship-value-display__delete svg {
  filter: drop-shadow(0 0 1px #000);
}
.MentalMapper .relationship-value-display__edit {
  cursor: pointer;
  color: #fff;
  outline: none;
  text-shadow: 0 0 2px #000;
  border: 1px solid #4c4c4c;
  padding: 0;
  box-shadow: none;
  background: #666;
  /* Old browsers */
  background: -moz-linear-gradient(top, #666 0%, #666 15%, #7f7f7f 85%, #7f7f7f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #666 0%, #666 15%, #7f7f7f 85%, #7f7f7f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7f7f7f 0%, #7f7f7f 15%, #666 85%, #666 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 0 6px 6px 0;
  width: 40px;
  height: 30px;
  padding-top: 2px;
  border: 1px solid #000;
}
.MentalMapper .relationship-value-display__edit:hover {
  background: #7E2E21;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7E2E21 0%, #7E2E21 15%, #D14A35 85%, #D14A35 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7E2E21 0%, #7E2E21 15%, #D14A35 85%, #D14A35 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #D14A35 0%, #D14A35 15%, #7E2E21 85%, #7E2E21 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-color: #7E2E21;
}
.MentalMapper .relationship-value-display__edit:active {
  background: #7E2E21;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7E2E21 0%, #7E2E21 15%, #D14A35 85%, #D14A35 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7E2E21 0%, #7E2E21 15%, #D14A35 85%, #D14A35 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #D14A35 0%, #D14A35 15%, #7E2E21 85%, #7E2E21 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: inset 0 0 12px 2px rgba(0, 0, 0, 0.4);
}
.MentalMapper .relationship-value-display__edit svg {
  filter: drop-shadow(0 0 1px #000);
}
.MentalMapper .relationship-value-display__delete-icon {
  fill: #fff;
  height: 16px;
  width: 16px;
}
.MentalMapper .relationship-value-display__edit-icon {
  fill: #fff;
  height: 20px;
  width: 20px;
}
.MentalMapper .relationship-value-display__edit-wrapper {
  position: absolute;
  z-index: 1;
  z-index: 3;
}
.MentalMapper .relationship-value-display__input {
  border-radius: 6px;
  padding: 2px 6px;
  width: 300px;
  height: 52px;
  text-align: center;
  outline: none;
  overflow: hidden;
  resize: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
@keyframes MentalMapper-menu-pop-in-expand {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  35% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
